.homeTitle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.addForm{
    margin:100px 50px;
    width: 700px;
    text-align: center;
    display: inline-block;
    background-color: #45A29E;
    border-radius: 8px;
    padding-top: 50px;
    border:2px solid black;
    padding-bottom: 50px;
}

.addButton{
    width:700px;
    text-align: center;
    height: 50px;
}

.inputField{
    width: 500px;
    padding: 0px;
}

.pageContent{
    background-color:#95d0ce;
    width:100%;
    height: 100%;
}

.content{
    padding:100px 100px;
}


.formLine{
    margin-bottom:50px;
}
.nav-bar{
    width: 100%;
    background-color: #367c7a;
}
.addBtnSection{
    margin-bottom: 30px;
}

.jumbotron{
    background-color: #367c7a;
    width:fit-content;
    padding: 10px;
    text-align: center;
}