.homeTitle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.addForm{
    margin:100px 50px;
    width: 700px;
    text-align: center;
}

.addButton{
    width:700px;
    text-align: center;
    height: 50px;
}

.inputField{
    width: 500px;
    padding: 0px;
    display: inline-block;
}

.pageContent{
    margin:100px 100px;
}

.formLine{
    margin:0px 0px 50px 0px;
}

.addBtnSection{
    margin-bottom: 50px;
}