.homeTitle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.addForm{
    margin:100px 50px;
    width: 700px;
    text-align: center;
}

.addButton{
    width:700px;
    text-align: center;
    height: 50px;
}

.inputField{
    width: 500px;
    padding: 0px;
    display: inline-block;
}

.pageContent{
    background-color:#95d0ce;
    width:100%;
    height: 100%;
}

.content{
    padding:100px 100px;
}


.formLine{
    margin:0px 0px 50px 0px;
}
.nav-bar{
    width: 100%;
}
.addBtnSection{
    margin-bottom: 30px;
}