.homeTitle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.addForm{
    margin: 10px 100px;
}

.addButton{
    margin: 10px 100px;
    width:600px;
    align-items: center;
    height: 50px;
}